{% load static %}
<!doctype html>
<html lang="en">

<head>
    <script src="{% static '/images/slider/slider-3.jpg'%}"></script>
    <script src="{% static '/js/popper.min.js'%}"></script>
    <script src="{% static '/js/bootstrap.min.js'%}"></script>
    <script src="{% static '/plugins/scroll-fixed/jquery-scrolltofixed-min.js'%}"></script>
    <script src="{% static '/plugins/slider/js/owl.carousel.min.js'%}"></script>
    <script src="{% static '/js/script.js'%}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Cardio Care Medical Hospital Website Template | Smarteyeapps.com</title>

    <link rel="shortcut icon" href="{% static '/images/fav.jpg'%}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static '/css/fontawsom-all.min.css'%}">
    <link rel="stylesheet" href="{% static '/plugins/slider/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static '/plugins/slider/css/owl.theme.default.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css'%}" />
</head>

<body>
    <div class="container body-container">
        <!-- ################# Header Starts Here#######################--->
        <header>
            <div class="row header-top">
                <div class="col-lg-7 col-md-12 left-item">
                    <ul>
                        <li><i class="fas fa-envelope-square"></i> sales@smarteyeapps.com</li>
                        <li><i class="fas fa-phone-square"></i> +123 987 887 765</li>
                    </ul>
                </div>
                <div class="col-lg-5 d-none d-lg-block right-item">
                    <ul>
                        <li><a><i class="fab fa-github"></i></a></li>
                        <li><a><i class="fab fa-google-plus-g"></i></a></li>
                        <li> <a><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a><i class="fab fa-twitter"></i></a></li>
                        <li> <a><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
            <div  class=" ">
           
                <div class="row header-nav">
                    <div class="col-md-3 no-padding col-sm-12 nav-img">
                        <img src="{% static '/images/logo.jpg'%}" alt="">
                       <a data-toggle="collapse" data-target="#menu" href="#menu" ><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                    </div>
                    <div id="menu" class="col-md-9 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/service">Services</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/booking">Bookings</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li class="nav-item dropdown">Account
                                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                            <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                                {% if not request.session.login_status %}
                                <li><a class="dropdown-item" href="/login">Login</a></li>
                                <li><a class="dropdown-item" href="/signup">Signup</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                            </li>
                        </ul>
                    </div>
                </div> 

            
        </div>
        </header>
        
       
          <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>Our Blog</h2>
                           <ul>
                               <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                               <li><i class="fas fa-angle-double-right"></i> Our Blog</li>
                           </ul>
                       </div>
                   </div>
               </div>
       
    <!-- ######## Page  Title End ####### -->
       
    
      <!-- ################# Our Blog Starts Here#######################--->

    <section class="our-blog row">
        
         	
        		<div class="blog-row row">
        			<div class="col-lg-4 col-md-6">
        				<div class="single-blog">
        					<figure>
        						<img src="{% static '/images/blog/blog_01.jpg'%}" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2018</small>
								<h4>Methods of Recuirtments</h4>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
								<div class="link">
									<a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="single-blog">
        					<figure>
        						<img src="{% static '/images/blog/blog_02.jpg'%}" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2018</small>
								<h4>Methods of Recuirtments</h4>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
								<div class="link">
									<a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="single-blog">
        					<figure>
        						<img src="{% static '/images/blog/blog_02.jpg'%}" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2018</small>
								<h4>Methods of Recuirtments</h4>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
								<div class="link">
									<a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="single-blog">
        					<figure>
        						<img src="{% static '/images/blog/blog_03.jpg'%}" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2018</small>
								<h4>Methods of Recuirtments</h4>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
								<div class="link">
									<a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="single-blog">
        					<figure>
        						<img src="{% static '/images/blog/blog_02.jpg'%}" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2018</small>
								<h4>Methods of Recuirtments</h4>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
								<div class="link">
									<a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="single-blog">
        					<figure>
        						<img src="{% static '/images/blog/blog_01.jpg'%}" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2018</small>
								<h4>Methods of Recuirtments</h4>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
								<div class="link">
									<a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        		</div>
         	
         </section>	
    
    
    <!-- ################# Footer Starts Here#######################--->


    <footer class="footer row">
       
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>About Us</h2>
                <p>
                    
                </p>
                <p>In summary, the importance of hospitals lies in their critical role as providers of immediate medical care, centers for diagnosis and treatment, promoters of public health, and educational institutions. They are essential for safeguarding lives, improving health outcomes, and ensuring the well-being of individuals and communities. The presence of well-equipped and efficiently functioning hospitals is crucial for the overall healthcare system, as they form the backbone of healthcare delivery and play a key role in creating healthier and happier societies.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>Useful Links</h2>
                <ul class="list-unstyled link-list">
                    <li><a ui-sref="about" href="#/about">About us</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="portfolio" href="#/portfolio">Portfolio</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="products" href="#/products">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="gallery" href="#/gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 map-img">
                <h2>Contact Us</h2>
                <address class="md-margin-bottom-40">
                    BlueDart <br>
                    Marthandam (K.K District) <br>
                    Tamil Nadu, IND <br>
                    Phone: +91 9159669599 <br>
                    Email: <a href="mailto:info@anybiz.com" class="">info@bluedart.in</a><br>
                    Web: <a href="smart-eye.html" class="">www.bluedart.in</a>
                </address>

            </div>
        </div>
</footer>
<div class="copy row">
        
            <a href="https://www.smarteyeapps.com/">2015 &copy; All Rights Reserved | Designed and Developed by Smarteyeapps</a>
            
           

    </div>
</div>

</body>




</html>